@import url('https://fonts.googleapis.com/css?family=Lato');

body, html{
    height: 100%;
    background: #f0f0f0;
    font-family: 'Lato', sans-serif;
}

/* Inizio sezione Bar Charts */
.bar {
    fill:  rgb(212, 63, 63);
}

.bar:hover {
    opacity: 0.7;
}
/* Fine sezione Bar Charts */


circle{
    fill: black;
    opacity: 0.1;
}

/* Inizio sezione in alto */
#instructions {
    position: absolute;
    font-size: 1.2em;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    color: #fff;
    opacity: .8;
    text-align: center;
    padding: .2em;
}
/* Fine sezione in alto */


/* Inizio sezione Distretti */
.state{
    /*fill: none;*/
    stroke: #000000;
    stroke-width: 1;
}

.state:hover {
    fill-opacity:0.1;
}

/* Inizio sezione Immagine con scala dei colori */
img:hover {
    opacity:0.8;
}
/* Fine sezione Immagine con scala dei colori */


/* Inizio sezione Tooltip con informazioni sui distretti */
#tooltip {
    position: absolute;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px;
    border-radius: 2px;
    pointer-events: none;
}

#tooltip h4{
    margin:0;
    font-size:14px;
}

#tooltip{
    z-index: 3;
    background:rgba(0,0,0,0.9);
    border:1px solid grey;
    border-radius:5px;
    font-size:12px;
    width:auto;
    padding:4px;
    color:white;
    opacity:0;
}

#tooltip table{
    table-layout:fixed;
}

#tooltip tr td{
    padding:0;
    margin:0;
}

#tooltip tr td:nth-child(1){
    width:50px;
}

#tooltip tr td:nth-child(2){
    text-align:center;
}
/* Fine sezione Tooltip con informazioni sui distretti */


/* Inizio sezione Tooltip per scala dei colori */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    visibility: hidden;
    width: 120px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 2s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 50%;
    margin-left: -5px;
    border-width: 5px;
}

.tooltip:hover .tooltiptext {
    transition-delay: 1s;
    visibility: visible;
    opacity: 0.9;
}
/* Fine sezione Tooltip per scala dei colori */


/* Inizio container, h2, ul, li ecc. */
.container{
    position: absolute;
    height: 450px;
    width: 400px;
    bottom: 0; left:550px; right: 0; top:10px;
    padding: 0;
}

h2 {
    color: rgb(0, 0, 0);
    font-weight: normal;
}

.container ul{
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


ul li{
    color: rgb(43, 43, 43);
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 50px;

}

ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
}

ul li label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1em;
    padding: 25px 25px 25px 80px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

ul li:hover label{
    color: rgb(194, 86, 86);
}

ul li .check{
    display: block;
    position: absolute;
    border: 5px solid rgb(212, 63, 63);
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

ul li:hover .check {
    border: 5px solid rgb(255, 0, 0);
}

ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
    border: 5px solid rgb(255, 0, 0);
}

input[type=radio]:checked ~ .check::before{
    background: rgb(255, 13, 13);
}

input[type=radio]:checked ~ label{
    color: rgb(185, 0, 0);
}

.signature {
    position: fixed;
    margin: auto;
    bottom: 0;
    top: auto;
    width: 100%;
}

.signature p{
    text-align: center;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 0.85em;
    color: #AAAAAA;
}

.signature .much-heart{
    display: inline-block;
    position: relative;
    margin: 0 4px;
    height: 10px;
    width: 10px;
    background: #AC1D3F;
    border-radius: 4px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.signature .much-heart::before,
.signature .much-heart::after {
    display: block;
    content: '';
    position: absolute;
    margin: auto;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #AC1D3F;
    top: -4px;
}

.signature .much-heart::after {
    bottom: 0;
    top: auto;
    left: -4px;
}

.signature a {
    color: #AAAAAA;
    text-decoration: none;
    font-weight: bold;
}


/* Inizio sezione select per scelta scala cromatica */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0;
    background: black;
    opacity: 0.8;
}

.select {
    position: relative;
    display: block;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: black;
    overflow: hidden;
    border-radius: .25em;
}

select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
}
/* Fine sezione select per scelta scala cromatica */


/* slider */
input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: darkgreen;
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #65001c;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: darkgreen;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: darkgreen;
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #65001c;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: darkgreen;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: darkgreen;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #65001c;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: darkgreen;
}
input[type=range]:focus::-ms-fill-upper {
    background: darkgreen;
}
